body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url("/Users/evanogletree/Downloads/Abstract4.jpg");
}

#main {
	border: 10px solid white;
	background-color: white;
	margin-top: 10%
}

#vic {
	background-color: #A8F0F0;
}

#vic h1 {
	text-align: right;
}

#vic h2 {
	text-align: right;
	font-size: 14px;
}

#spatula {
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
}

span {
	border-bottom: 2px dashed blue;
}

#cookie {
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
}

#right {
	float: right
}
