body {
	background-color: #ffcc00;
	font-family: Georgia, Garamond, serif, serif;
}

.navA {
	text-decoration: none;
}

.caption {
	font-family: Century Gothic, Futura, Verdana, sans-serif;
	letter-spacing: 3px;
}
#heading1 {
	background-color: #f0f0f0;
	text-align: center;
	color: #a4a400;
}

#salad {
	background-color: #f0f0f0;
	text-align: center;
	color: #a4a400;
}

#nav {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 25px;
	width: 50%;
	border-radius: 5px;
}

#nav li {
	display: inline-block;
	background-color: #B8E68A;
	padding-left: 10px;
	padding-right: 10px;
	color: blue;
}

#home {
	border-right: 10px solid blue;
}

#recipe {
	padding-left: 25px;
	border-right: 10px solid blue;	
}

span {
	font-weight: bold;
}

#beanTable {
	margin-top: 20px;
	border-collapse: collapse;
}

.thstyle {
	background-color: #003366;
	color: #ffffff;
	border: 2px solid white;
	padding: 5px;
}


.tableHead {
	background-color: #f0f0f0;
	text-align: center;
	color: #a4a400;
	border: 2px solid white;
}

#beanTable td {
	background-color: #CC9933;
	border: 2px solid white;
	color: #ffffff;
	padding: 5px;
}

#ratingTable {
	margin-top: 20px;
	border-collapse: collapse;
}

#ratingTable td {
	background-color: #CC9933;
	border: 2px solid white;
	color: #ffffff;
	padding: 5px;
}

img {
	float: left;
	padding-bottom: 10px;
}

#prep {
	clear: left;
}

#rating {
	clear: left;
}

