#title {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	font-size: 32px;
	font-family: Comic Sans MS;
	font-weight: bold;
}

#para1 {
	width: 100%;
	margin: 20px 0px 0px 225px;
}

#para1 p {
	font-family: Comic Sans MS;
	font-size: 16px;
}

#para2 {
	width: 100%;
	margin: 20px 0px 0px 225px;
}

#para2 p {
	font-family: Comic Sans MS;
	font-size: 16px;
}

#square {
	width: 400px;
	height: 400px;
	margin: 25px auto;
	white-space: nowrap;
	
}

.row1 {
	border: 2px solid black;
	display: inline-block;
	height: 96px;
	width: 96px;
	border-collapse:collapse;
	text-align: center;
	line-height: 96px;
}

.row2 {
	border: 2px solid black;
	display: inline-block;
	height: 96px;
	width: 96px;
	border-collapse:collapse;
	text-align: center;
	line-height: 96px;
}

.row3 {
	border: 2px solid black;
	display: inline-block;
	height: 96px;
	width: 96px;
	border-collapse:collapse;
	text-align: center;
	line-height: 96px;
}

.row4 {
	border: 2px solid black;
	display: inline-block;
	height: 96px;
	width: 96px;
	border-collapse:collapse;
	text-align: center;
	line-height: 96px;
}

#first {
	background-image: url("zombieMario.jpg");
	background-position: 400px 0px;
}

#second {
	background-image: url("zombieMario.jpg");
	background-position: 300px 0px;
}

#third {
	background-image: url("zombieMario.jpg");
	background-position: 200px 0px;
}

#fourth {
	background-image: url("zombieMario.jpg");
	background-position: 100px 0px;
}

#fifth {
	background-image: url("zombieMario.jpg");
	background-position: 400px -100px;
}

#sixth {
	background-image: url("zombieMario.jpg");
	background-position: 300px -100px;
}

#seventh {
	background-image: url("zombieMario.jpg");
	background-position: 200px -100px;
}

#eigth {
	background-image: url("zombieMario.jpg");
	background-position: 100px -100px;
}

#ninth {
	background-image: url("zombieMario.jpg");
	background-position: 400px -200px;
}

#tenth {
	background-image: url("zombieMario.jpg");
	background-position: 300px -200px;
}

#eleventh {
	background-image: url("zombieMario.jpg");
	background-position: 200px -200px;
}

#twelfth {
	background-image: url("zombieMario.jpg");
	background-position: 100px -200px;
}

#thirteenth {
	background-image: url("zombieMario.jpg");
	background-position: 400px -300px;
}

#fourteenth {
	background-image: url("zombieMario.jpg");
	background-position: 300px -300px;
}

#fifteenth {
	background-image: url("zombieMario.jpg");
	background-position: 200px -300px;
}

#in {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#shuffle {
	margin: 0 auto;
}



