table {
	table-layout: fixed;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.header th {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
}

th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border: 1px solid black;
}

td {
	text-align: center;
	height: 75px;
	border: 1px solid black;
}

.odd {
	background-color:#BCE4FE;
}

.even {
	background-color:#86cefd;	
}

#header {
	background-color:#86cefd;
}

#top {
	background-color:#BCE4FE;
}
